html,
body {
  padding: 0;
  margin: 0;
  --gradientTheme: radial-gradient(
    circle 732px at -23.9% -25.1%,
    rgba(30, 39, 107, 1) 6.1%,
    rgba(188, 104, 142, 1) 100.2%
  );
  --boldTheme: rgba(30, 39, 107, 1);
  --shyTheme: rgba(188, 104, 142, 1);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 5px 5px 100px #fcfcfc, -5px -5px 100px #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
